body {
    background: #3f353d;
    color: white;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.App {
    background: url(../img/playground.png) no-repeat #768588;
    height: 720px;
    width: 1280px;
    font-size: 19px;
    font-weight: bold;
    margin: 0 auto;
}

.border {
    background: url(../img/border.png) no-repeat;
    height: inherit;
    width: inherit;
    position: relative;
}

.slime {
    position: absolute;
    margin-left: 38px;
}

.slime_img {
    height: 120px;
    width: 118px;
    background: url(../img/pink_slime.png) no-repeat;
}

.slime_img.injured {
    background: url(../img/inured_pink_slime.png) no-repeat;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    cursor: url("../img/heal.png"), cell;
}

.slime_hp_bar {
    height: 37px;
    width: 129px;
    position: relative;
    bottom: 10px;
    right: 5px;
    background: url(../img/slime_hp_bar.png) no-repeat;
}

.level_bar {
    height: inherit;
    width: inherit;
}

.slime_hp_bar .level_bar_value {
    height: 25px;
    background: url(../img/slime_hp_value.png) no-repeat;
    position: relative;
    top: 6px;
    left: 12px;
}

.slime_hp_bar p {
    font-size: 15px;
    position: relative;
    left: 20px;
    bottom: 31px;
}

.boss {
    position: absolute;
    top: 155px;
    right: 140px;
}

.boss_img {
    height: 332px;
    width: 386px;
    background: url(../img/Boss1.png) no-repeat;
    cursor: url("../img/attack.png"), pointer;
}

.create_slime_button {
    height: 165px;
    width: 149px;
    position: absolute;
    top: 541px;
    left: 564px;
    cursor: pointer;
    background: url(../img/empty_machine.png) no-repeat;
    -webkit-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;
}

.create_slime_button.active {
    background: url(../img/add_machine.png) no-repeat;
    -webkit-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;
}

.create_slime_button.active:hover {
    background: url(../img/active_machine.png) no-repeat;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;

}

.slimes_quantity_bar {
    width: 339px;
    height: 47px;
    position: absolute;
    bottom: 60px;
    left: 170px;
    background: url(../img/slime_quantity_bar.png) no-repeat;
}

.slimes_quantity_bar .level_bar_value {
    height: 33px;
    background: url(../img/slime_quantity_value.png) no-repeat;
    position: relative;
    top: 6px;
    left: 12px;
}

.slimes_quantity_bar p {
    position: relative;
    bottom: 40px;
    left: 20px;
}

.resources_bar {
    height: 47px;
    width: 337px;
    position: absolute;
    bottom: 60px;
    right: 175px;
    background: url(../img/resource_bar.png) no-repeat;
}

.resources_bar .level_bar_value {
    height: 33px;
    background: url(../img/resource_value.png) no-repeat;
    position: relative;
    top: 7px;
    left: 6px;
}

.resources_bar p {
    text-align: right;
    position: relative;
    bottom: 39px;
    right: 20px;
}

.boss_hp_bar {
    height: 40px;
    width: 270px;
    background: url(../img/boss_hp_bar.png) no-repeat;
    position: relative;
    left: 56px;
    bottom: 7px;
}

.boss_hp_bar .level_bar_value {
    height: 28px;
    background: url(../img/boss_hp_value.png) no-repeat;
    position: relative;
    top: 6px;
    left: 13px;
}

.boss_hp_bar p {
    font-size: 18px;
    text-align: right;
    position: relative;
    right: 20px;
    bottom: 37px;
}

.label {
    position: relative;
    bottom: 20px;
    z-index: 1;
}

.resource_label {
    height: 84px;
    width: 84px;
    float: left;
    right: 35px;
}

.full_resource_label {
    background: url(../img/resource_full_label.png) no-repeat;
}

.resource_depleted_label {
    background: url(../img/resource_depleted_label.png) no-repeat;
    -webkit-transition: background-image 0.7s ease-in-out;
    transition: background-image 0.7s ease-in-out;
}

.slimes_quantity_label {
    float: right;
    left: 35px;
}

.win_screen {
    position: relative;
    z-index: 1;
}

.lose_screen {
    position: relative;
    z-index: 1;
}

.place_0 {
    top: 260px;
}

.place_1 {
    top: 425px;
}

.place_2 {
    top: 195px;
    left: 145px;
}

.place_3 {
    top: 360px;
    left: 145px;
}

.place_4 {
    top: 260px;
    left: 295px;
}

.place_5 {
    top: 425px;
    left: 295px;
}

.place_6 {
    left: 430px;
    top: 195px;
}

.place_7 {
    top: 360px;
    left: 430px;
}
