body {
    background: #3f353d;
    color: white;
}

button {
    border: none;
    outline: none;
}

p {
    font-family: monospace;
    margin: 0;
}

.App {
    background: url(../img/playground.png) no-repeat #768588;
    height: 720px;
    width: 1280px;
    font-size: 19px;
    font-weight: bold;
    margin: 0 auto;
}

.border {
    background: url(../img/border.png) no-repeat;
    height: inherit;
    width: inherit;
    position: relative;
}

.win_screen {
    height: 720px;
    width: 1280px;
    position: relative;
    z-index: 2;
    background: url(../img/win.png) no-repeat;
}

.lose_screen {
    height: 720px;
    width: 1280px;
    position: relative;
    z-index: 2;
    background: url(../img/lose.png) no-repeat;
}

/* Status bars */

.level_bar_value {
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.level_bar_label {
    position: absolute;
    top: -19px;
    z-index: 1;
}

.slimes_quantity_bar {
    width: 339px;
    height: 47px;
    position: absolute;
    bottom: 60px;
    left: 170px;
    background: url(../img/slime_quantity_bar.png) no-repeat;
}

.slimes_quantity_bar .level_bar {
    width: 320px;
    position: absolute;
    top: 6px;
    left: 14px;
}

.slimes_quantity_bar .level_bar_value {
    height: 33px;
    background: url(../img/slime_quantity_value.png) no-repeat;
    position: absolute;
    right: 0;
    background-size: 100% 100%;
}

.slimes_quantity_bar .level_value_dividing {
    position: relative;
    left: 38px;
    height: 34px;
    width: 245px;
    background: url(../img/slime_quantity_dividing.png);
}

.slimes_quantity_bar p {
    position: relative;
    left: 5px;
    bottom: 29px;
}

.slimes_quantity_label {
    height: 84px;
    width: 84px;
    left: 290px;
    -webkit-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.no_slimes {
    background: url(../img/no_slimes_label.png) no-repeat;
}

.few_slimes {
    background: url(../img/few_slimes_label.png) no-repeat;
}

.many_slimes {
    background: url(../img/many_slimes_label.png) no-repeat;
}

.maximum_slimes {
    background: url(../img/maximum_slimes_label.png) no-repeat;
}

.resources_bar {
    height: 47px;
    width: 337px;
    position: absolute;
    bottom: 60px;
    right: 180px;
    background: url(../img/resource_bar.png) no-repeat;
}

.resources_bar .level_bar_value {
    height: 33px;
    background: url(../img/resource_value.png) no-repeat;
    position: relative;
    top: 7px;
    left: 6px;
    background-size: 95% 100%;
}

.resources_bar .level_value_dividing {
    position: relative;
    bottom: 27px;
    left: 68px;
    height: 34px;
    width: 227px;
    background: url(../img/resource_dividing.png);
}

.resources_bar p {
    text-align: right;
    position: relative;
    right: 20px;
    bottom: 55px;
}

.resource_label {
    height: 84px;
    width: 84px;
    right: 290px;
}

.full_resource_label {
    background: url(../img/resource_full_label.png) no-repeat;
}

.resource_depleted_label {
    background: url(../img/resource_depleted_label.png) no-repeat;
    -webkit-transition: background-image 0.7s ease-in-out;
    transition: background-image 0.7s ease-in-out;
}

/* Slime machine */

.create_slime_button {
    height: 165px;
    width: 149px;
    position: absolute;
    left: 564px;
    bottom: 14px;
    cursor: pointer;
    background: url(../img/empty_machine.png) no-repeat;
    -webkit-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;
}

.create_slime_button.active {
    background: url(../img/add_machine.png) no-repeat;
    -webkit-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;
}

.create_slime_button.active:hover {
    background: url(../img/active_machine.png) no-repeat;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;

}

/* Slime */

.slime {
    position: absolute;
}

.slime_img {
    height: 105px;
    width: 103px;
    background: url(../img/pink_slime.png) no-repeat;
}

.slime .slime_img.was_hit {
    width: 261px;
    height: 199px;
    background: url(../img/slime_hit.gif);
 }

.was_healed {
    width: 200px;
    height: 113px;
    background: url(../img/slime_healed.gif);
}

.slime_img.injured {
    height: 105px;
    width: 103px;
    background: url(../img/inured_pink_slime.png) no-repeat;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
    cursor: url("../img/heal.png"), cell;
}

.slime_hp_bar {
    height: 25px;
    width: 105px;
    position: relative;
    bottom: 10px;
    background: url(../img/slime_hp_bar.png) no-repeat;
}

.slime_hp_bar .level_bar_value {
    height: 18px;
    background: url(../img/slime_hp_value.png) no-repeat;
    position: relative;
    top: 4px;
    left: 10px;
    background-size: 83% 100%;
}

.slime_hp_bar p {
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 14px;
}

.place_0 {
    top: 260px;
    left: 55px;
}

.place_1 {
    top: 415px;
    left: 55px;
}

.place_2 {
    top: 195px;
    left: 195px;
}

.place_3 {
    top: 350px;
    left: 195px;
}

.place_4 {
    top: 260px;
    left: 340px;
}

.place_5 {
    top: 415px;
    left: 340px;
}

.place_6 {
    top: 195px;
    left: 475px;
}

.place_7 {
    top: 350px;
    left: 475px;
}

/* Boss */

.boss {
    position: absolute;
    top: 155px;
    right: 140px;
}

.boss_img {
    height: 332px;
    width: 386px;
    background: url(../img/boss1.png) no-repeat;
    cursor: url("../img/attack.png"), pointer;
}

.boss_hit_img {
    width: 386px;
    height: 331px;
    background: url(../img/boss_hit.gif) no-repeat;
}

.boss_hp_bar {
    height: 40px;
    width: 270px;
    background: url(../img/boss_hp_bar.png) no-repeat;
    position: relative;
    left: 55px;
    bottom: 5px;
}

.boss_hp_bar .level_bar_value {
    height: 28px;
    background: url(../img/boss_hp_value.png) no-repeat;
    position: relative;
    top: 6px;
    left: 13px;
    background-size: 91% 100%;
}

.boss_hp_bar p {
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 20px;
}

