body {
    background: #768588;
    color: white;
}

.App {
    position: relative;
    background: #768588 url(versus-template-background.jpg) no-repeat;
    text-align: center;
    min-height: 720px;
    max-height: 720px;
    min-width: 1280px;
    max-width: 1280px;
    overflow: auto;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

pre {
    margin: 0;
    font-size: 23px;
    font-weight: bold;
}

.slime, .create_slime_button {
    position: absolute;
    margin-left: 20px;
}

.create_slime_button {
    width: 140px;
    top: 70px;
}

.create_slime_button button {
    margin-bottom: 7px;
}

.boss {
    float: right;
    margin-top: 90px;
    margin-right: 110px;
}

.lose_screen {
    background: black no-repeat;
    position: absolute;
    z-index: 1;
    text-align: center;
    min-height: 720px;
    max-height: 720px;
    min-width: 1280px;
    max-width: 1280px;
}

.lose_message {
    position: absolute;
    left: 38%;
    top: 44%;
}

.win_screen {
    background: white no-repeat;
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: center;
    min-height: 720px;
    max-height: 720px;
    min-width: 1280px;
    max-width: 1280px;
}

.win_message {
    color: black;
    position: absolute;
    left: 27%;
    top: 44%;
}

.place_0 {
    top: 190px;
}

.place_1 {
    top: 355px;
}

.place_2 {
    top: 525px;
}

.place_3 {
    top: 250px;
    left: 145px;
}

.place_4 {
    top: 420px;
    left: 145px;
}

.place_5 {
    top: 250px;
    left: 295px;
}

.place_6 {
    top: 420px;
    left: 295px;
}

.place_7 {
    top: 330px;
    left: 430px;
}
