body {
  background: #768588;
  color: white;
}

.App {
  background: #768588 url(/versus-template-background.jpg) no-repeat;
  text-align: center;
  min-height: 720px;
  max-height: 720px;
  min-width: 1280px;
  max-width: 1280px;
  overflow: auto;
  margin: 0 auto;
}

.App-intro {
  color: black;
}

.slime img {
  width: 64px;
}

.slime, .create_slime_button {
  width: 74px;
  margin-left: 20px;
}

.create_slime_button {
  height: 64px;
  width: 64px;
  background: url(../src/add.png) no-repeat;
}

.boss {
  width: 138px;
  float: right;
  vertical-align: bottom;
}