body {
    background: #768588;
    color: white;
}

.App {
    position: relative;
    background: #768588 url(versus-template-background.jpg) no-repeat;
    text-align: center;
    min-height: 720px;
    max-height: 720px;
    min-width: 1280px;
    max-width: 1280px;
    overflow: auto;
    margin: 0 auto;
}

.slime, .create_slime_button {
    position: absolute;
    margin-left: 20px;
}

.create_slime_button {
    top: 70px;
    left: 25px;
}

.slime_1 {
    top: 190px;
}

.slime_2 {
    top: 355px;
}

.slime_3 {
    top: 525px;
}

.slime_4 {
    top: 250px;
    left: 145px;
}

.slime_5 {
    top: 420px;
    left: 145px;
}

.slime_6 {
    top: 250px;
    left: 295px;
}

.slime_7 {
    top: 420px;
    left: 295px;
}

.slime_8 {
    top: 330px;
    left: 430px;
}

.boss {
    float: right;
    margin-top: 125px;
    margin-right: 110px;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}