.start_screen {
    height: 720px;
    width: 1280px;
    background: #1f5c37 url(./img/start_screen.png) no-repeat;
    margin: 0 auto;
    position: relative;
}

.start_button {
    width: 420px;
    height: 247px;
    position: absolute;
    top: 36%;
    left: 39%;
    cursor: pointer;
    background: transparent url(./img/start_button.png) no-repeat;
}

.start_button:hover {
    top: 27%;
    left: 33%;
    background: transparent url(./img/start_button_hover.png) no-repeat;
}